{% extends 'base.html' %}
{% block body %}

<h3>{{article.title}}</h3>
<p>{{article.content}}</p>
<p>{{article.created_at}}</p>
<p>{{article.updated_at}}</p>
<a href="{% url 'articles:index' %}">home</a>
<a href="{% url 'articles:update' article.id %}">edit</a>
<a href="{% url 'articles:delete' article.id %}">delete</a>
<hr>
<form action="{% url 'articles:comment_create' article.id}" method="POST">
    <!-- 요기 articles:comment_create는 urls.py의 name에서 불러옴 -->
     {% csrf_token %}
     {{form}}
     <!-- form이 detail함수 안에 정의가 되어 있어야 불러와 쓸 수 있음 -->
    <input type="submit">
    <!-- submit을 눌러야 위의 POST가 작동됨(기입된 정보를 가지고 제출!) -->
</form>


{% endblock %}